<% provide(:title, t(:home)) %>  
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <% if current_user.admin?%>
      <%= link_to t(:word_list), admin_words_path, class: "btn btn-lg btn-primary" %>
      <%= link_to t(:Categories), admin_categories_path, class: "btn btn-lg btn-primary" %>
      <%= link_to t(:Lessons), admin_lessons_path, class: "btn btn-lg btn-primary" %>
      <%= link_to t(:Result), admin_results_path, class: "btn btn-lg btn-primary" %>
    <% else %>
      <%= link_to t(:word_list), words_path, class: "btn btn-lg btn-primary" %>
      <%= link_to t(:Categories), categories_path, class: "btn btn-lg btn-primary" %>
      <%= link_to t(:Lessons), lessons_path, class: "btn btn-lg btn-primary" %>
      <%= link_to t(:Result),  results_path, class: "btn btn-lg btn-primary" %>

    <% end %>
    </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the ELS application</h1>
    <h2>
      This is the home page for the E learning system application.
    </h2>
    <%= link_to t(:signup), signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
