<% provide(:title, t(:all_word))%>
<% if current_user.admin? %>
<%= link_to t(:creat_word), new_admin_word_path, class: "btn btn-lg btn-primary" %>
<% end %>
<h1>All words</h1>
<div>
  <%= sort_link @search, :content_jp, t(:sort_by_name)%>
</div>
<%= will_paginate %>
<ul class="words">
  <%= render @words %>
</ul>
<%= will_paginate %>
