<div class="category-list">
  <h3><%= category.name %></h3>
  <p><%= category.content %></p>

  <%= form_for [category, category.lessons.build] do |f| %>
    <%= f.hidden_field :category_id %>
    <%= f.submit t("buttons.start"), class: "btn btn-primary" %>
  <% end %>
</div>
<li>
  <%= link_to category.name, category %>
  Has learned (<%= Word.learn_category(current_user,category).count %> / <%= category.words.count %>)
</br>
  <% category.words.each do |word| %>
   	 <%=word.content_jp %>
  <% end %>
</li>
